allow audioserver device:chr_file ioctl;
allow audioserver init:unix_stream_socket connectto;
allow audioserver rild:binder call;
allow audioserver socket_device:sock_file write;
