# Bluetooth app depend on /vendor/lib64/libaptX_encoder.so

allow bluetooth vendor_file:file rx_file_perms;
#allow bluetooth wcnss_filter:unix_stream_socket {connectto};
