allow hal_rcsservice sysfs_msm_subsys:dir search;
allow hal_rcsservice sysfs_msm_subsys:file rw_file_perms;
allow hal_rcsservice sysfs_soc:dir search;
allow hal_rcsservice sysfs_soc:file rw_file_perms;
