allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read };
allow hal_graphics_composer_default sysfs:file { write open };
allow hal_graphics_composer_default vndbinder_device:chr_file { ioctl };
