r_dir_file(location sysfs_msm_subsys);
allow location sysfs_msm_subsys:file r_file_perms;
r_dir_file(location sysfs_soc);
allow location sysfs_soc:file r_file_perms;
