type vendor_mmi_sys, domain;

typeattribute vendor_mmi_sys coredomain;
type vendor_mmi_sys_exec, exec_type, file_type;
typeattribute vendor_mmi_sys  system_writes_vendor_properties_violators;

#init
init_daemon_domain(vendor_mmi_sys)

#Allow mmi to use IPC
binder_call(vendor_mmi_sys,surfaceflinger)
binder_use(vendor_mmi_sys)

#mmi_sys
allow vendor_mmi_sys ion_device:chr_file r_file_perms;
allow vendor_mmi_sys kmsg_device:chr_file w_file_perms;
allow vendor_mmi_sys surfaceflinger_service:service_manager find;
hal_client_domain(vendor_mmi_sys, hal_graphics_allocator)
allow vendor_mmi_sys vendor_mmi_sys_exec:file execute_no_trans;

allow vendor_mmi_sys gpu_device:chr_file rw_file_perms;

# Allow read access to mirrorlink specific property type.
get_prop(mirrorlink, vendor_mirrorlink_prop);

# Allow read access to udc connection state
allow mirrorlink sysfs_usb_controller:dir r_dir_perms;
allow mirrorlink sysfs_usb_controller:file r_file_perms;

hal_client_domain(mirrorlink, hal_mirrorlink)

