allow platform_app default_android_service:service_manager { find add };
allow platform_app {
    bg_boot_complete_prop
    bg_daemon_prop
    bluetooth_prop
    bootloader_boot_reason_prop
    boottime_prop
    }:file r_file_perms;

