allow surfaceflinger device:chr_file { ioctl read write };
allow surfaceflinger gpu_device:chr_file rw_file_perms;
allow surfaceflinger default_android_hwservice:hwservice_manager { find };

