allow ueventd unlabeled:dir { search };
allow ueventd unlabeled:lnk_file { read };
allow ueventd mnt_vendor_file:dir { search };
allow ueventd mnt_vendor_file:file { open read getattr };
allow ueventd vfat:dir { search };
allow ueventd vfat:file { open read getattr };
