unix_socket_connect(untrusted_app_27,dpmtcm, dpmd);
allow untrusted_app_27 dpmtcm_socket:sock_file w_file_perms;
allow untrusted_app_27 dpmd:unix_stream_socket connectto;
